<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화 등록화면</title>
</head>
<body>
<div class="container">
    <h2>영화 등록</h2>
    <form th:action="@{/movie/movieWrite}" th:method="POST" enctype="multipart/form-data">

        <label for="title">제목</label>
        <input type="text" id="title" name="title" placeholder=" 영화 제목을 입력하세요" required>
        <br>

        <label for="content">영화내용</label>
        <textarea id="content" rows="5" cols="60" name="content" required></textarea>
        <br>

        <label for="attachFile">사진등록</label>
        <input type="file"  id="attachFile" name="attachFile">
        <br>

        <input type="submit" value="글등록">
    </form>
</div>
</body>
</html>