<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화 계시판 수정화면</title>
</head>

<body>
<div class="container">
    <h2>영화 계시판 수정</h2>
    <form th:action="@{/movie/movieUpdate}" th:method="POST">
        <input type="hidden" name="movieseq" th:value="${movie.movieseq}">
        <label for="title">제목</label>
        <input type="text" id="title" name="title" th:value="${movie.title}" required>
        <br>

        <label for="content">글내용</label>
        <textarea id="content" rows="5" cols="60" name="content" th:text="${movie.content}" required></textarea>
        <br>
        <input type="submit" value="글수정">
    </form>
</div>
</body>

</html>