<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>영화 게시판 글목록</title>

</head>
<body>

<div class="container">

    <h2>[Movie List]</h2>

<!--    &lt;!&ndash; 검색 기능 -&ndash;&gt;-->
<!--    <form th:action="@{/movie/movieList}" method="GET">-->
<!--        <select name="searchItem">-->
<!--            <option value="title">제목</option>-->
<!--            <option value="usrid">글쓴이</option>-->
<!--            <option value="content">글내용</option>-->
<!--        </select>-->
<!--        <input type="text" name="searchWord" th:value="${searchWord}">-->
<!--        <input type="submit" value="검색">-->
<!--    </form>-->

    <!-- 영화 목록 출력 -->
    <table border="1">
        <tr>
            <th>번호</th>
            <th>영화 제목</th>
            <th>포스터</th>
            <th>등록일</th>
            <th>글쓴이</th>
            <th>조회수</th>
        </tr>

        <tr th:each= "movie, status : ${movieList}">

            <td th:text="${status.count} + ${navi.startRecord}">1</td>

            <td><a href="#" th:href="@{/movie/movieDetail(movieseq=${movie.movieseq})}" th:text="${movie.title}">제목</a></td>

            <td><img th:src ="@{/movie/download(movieseq=${movie.movieseq})}" width="100" height="100"></td>
            <td th:text="${movie.regdate}">2022.2.7</td>
            <td th:text="${movie.usrid}">홍길동</td>
            <td th:text="${movie.hitcount}">0</td>
        </tr>
    </table>


    <div>
        <!-- 글을 쓸 수 있는 화면 요청 -->
        <a href="#" th:href="@{/movie/movieWrite}">글등록</a>
    </div>

<!--pagination -->
<div>
    <nav>
        <p>
            <!-- 이전 그룹 -->
            <span th:if="${navi.startPageGroup} <= 1"> &laquo;</span>
            <span th:unless="${navi.startPageGroup} <= 1">
                <a href="#" th:href="@{/movie/movieList(currentPage=${navi.currentPage}-1)}">&laquo;</a>
            </span>

            <!-- 이전 페이지 -->
            <span th:if="${navi.currentPage} <= 1">&lt;</span>

            <span th:unless="${navi.currentPage} <= 1">
                <a href="#" th:href="@{/movie/movieList(currentPage=${navi.currentPage}-1)}">&lt;</a>
            </span>

            <!-- 반복 -->
            <!-- <p th:text="${navi.startPageGroup}"></p> -->
            <span th:each="currentPage, status : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
                <span style="color:red; font-weight:bold;" th:if="${currentPage} == ${navi.currentPage}" th:text="${currentPage}"></span>
                <span th:unless="${currentPage} == ${navi.currentPage}">
                    <a th:href="@{/movie/movieList(currentPage=${currentPage}, searchItem=${searchItem}, searchWord=${searchWord})}" th:text="${currentPage}">1</a>
                </span>
            </span>

            <!-- 다음 페이지 요청 -->
            <span th:if="${navi.currentPage} >= ${navi.totalPageCount}">&gt;</span>
            <span th:unless="${navi.currentPage} >= ${navi.totalPageCount}">
                <a href="#" th:href="@{/movie/movieList(currentPage=${navi.currentPage+1})}">&gt;</a>
            </span>

            <!-- 다음 그룹 요청 -->
            <span  th:if="${ navi.totalPageCount > navi.endPageGroup}">
                <a href="#" th:href="@{/movie/movieList(currentPage=${navi.currentGroup + navi.pagePerGroup + 1})}">&raquo;</a>
            </span>
            <span  th:unless="${ navi.totalPageCount > navi.endPageGroup}">&raquo;</span>
        </p>
    </nav>


</div>

</div>
</body>
</html>
